.App .main .renderMain{
    padding-top: 8%;
    display: block;
    padding-bottom: 10%;
}

.main .menu-wrapper {
    position: absolute;
    top: 8px;
    left: 27%;
    width: 100%;
    height: 90px;
}

.main .menu-login .side-menu {
    display: flex;
    align-items: center;
    position: absolute;
    top: 7px;
    left: 52%;
    width: 100%;
    height: 14%;
}

.main .menu-login .login-title {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 57%;
    width: 100%;
    height: 90px;
}

.main .menu-login .login-title a {
    font-weight: bold;
}

.main .menu-wrapper .menu  {
    font-size: 20px;
    color: black;
    font-family: var(--bs-font-sans-serif);
}

.main .menu-login .login-title{
    text-transform: uppercase;
}

.main .menu-login .side-menu {
    font-size: 20px;
    color: black;
    font-family: var(--bs-font-sans-serif);
}

.main .menu-wrapper .menu .element-wrapper {
    display: flex;
    align-items: center;
}

.main .menu-login .side-menu .element-wrapper {
    display: flex;
    align-items: center;
}

.main .menu-wrapper ul li.menu-element {
    display: flex;
    align-items: center;
    padding-top: 10px;
    height: 84px;
    padding: 5px !important;
    margin-right: 20px;
    text-transform: uppercase;
}

.main .menu-login ul li.menu-element {
    display: flex;
    align-items: center;
    padding-top: 10px;
    height: 84px;
    padding: 5px !important;
    margin-right: 20px;
    text-transform: uppercase;
}

.main .menu-wrapper ul li.menu-element:hover {
    color: #ffffff;
    background-color:  rgb(210, 142, 250);
}

.main .menu-login ul li.menu-element:hover {
    color: #ffffff;
    background-color:  rgb(210, 142, 250);
}

