.main .menu-wrapper {
    width: 100%;
  }
  
  .main .menu-wrapper a{
    text-decoration: none;
    color: black;
  }
  
  .main .menu-wrapper a:hover{
    color:cornsilk;
  }
  
  .main .menu-wrapper ul.menu {
    list-style: none;
    display: flex;
    flex-flow: row;
  }
  
  .main .menu-wrapper li.menu-element {
    padding-left: 2%;
    cursor: pointer;
  }
  