.configure {
    padding: 0 10%;
    padding-top: 3%;
}

.configure .title{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
    margin-bottom: 10px;
}

.configure .topic_management {
    margin: 0 5%;
    padding: 2% 5%;
    border: 4px solid  rgb(210, 142, 250);
    border-radius: 5px;
    margin-bottom: 10px;
}

/* 888888888888888888888888888888888888888888888888888888888888888888888 */


.configure .configure_management .topic_management .title{
    padding: 0;
    display: block;
}

.configure .configure_management .topic_management .new_topic .wrapper{
    display: flex;
    align-self: flex-start;
}

.configure .configure_management .topic_management .new_topic .wrapper .prefix {
    margin-right: 5px;
}

.configure .configure_management .topic_management .new_topic .wrapper .email {
    margin-right: 5px;
}

.configure .configure_management .topic_management .new_topic .wrapper .submit {
    margin-left: 50px;
}

/* 888888888888888888888888888888888888888888888888888888888888888888888 */

.configure .user_management {
    margin: 0 5%;
    padding: 2% 5%;
    border: 4px solid  rgb(210, 142, 250);
    border-radius: 5px;
    margin-bottom: 10px;
}

.configure .user_management .title {
    display: block;
    padding: 0;
}

.configure .user_management .change_password {
    display: flex;
    align-items: flex-start;
}

.configure .user_management .change_password .np {
    margin-right: 5px;
}
.configure .user_management .change_password button {
    margin-left: 50px;
}

.configure .port_management {
    margin: 0 5%;
    padding: 2% 5%;
    border: 4px solid  rgb(210, 142, 250);
    border-radius: 5px;
}

.configure .configure_management .port_management .title{
    display: block;
    padding: 0;
}

.configure .configure_management .port_management .description{
    display: flex;
    align-items: flex-start;
}