form {
    padding: 0 20%;
}

form .configure_management .input-group-text {
    width: 80px;
    background-color: rgb(139, 56, 187);
    color: #ffffff;
}

form .configure_management .input-group.mb-3 {
    z-index: 0;
    width: 300px;
    margin-right: 20px;
}

form .title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
}

form .configure_management span#topicname{
    width: 60%;
}

form .topic_management {
    margin: 0 5%;
    padding: 2% 5%;
    border: 4px solid  rgb(210, 142, 250);
    border-radius: 5px;
    margin-bottom: 10px;
}

/* 888888888888888888888888888888888888888888888888888888888888888888888 */


form .configure_management .topic_management .title{
    padding: 0;
    display: block;
}

form .configure_management .topic_management .new_topic .wrapper{
    display: flex;
    align-self: flex-start;
}

form .configure_management .topic_management .new_topic .wrapper .prefix {
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
    margin-right: 5px;
}

/* 888888888888888888888888888888888888888888888888888888888888888888888 */

form .user_management {
    margin: 0 5%;
    padding: 2% 5%;
    border: 4px solid  rgb(210, 142, 250);
    border-radius: 5px;
    margin-bottom: 10px;
}

form .user_management .title {
    display: block;
    padding: 0;
}

form .user_management .change_password {
    display: flex;
    align-items: flex-start;
}

form .user_management .change_password .np {
    display: flex;
    align-self: flex-start;
    margin-right: 5px;
}

form .user_management .change_password .mp {
    display: flex;
    align-items: center;
    width: 150px;
    height: 40px;
}

form .port_management {
    margin: 0 5%;
    padding: 2% 5%;
    border: 4px solid  rgb(210, 142, 250);
    border-radius: 5px;
}

form .configure_management .port_management .title{
    display: block;
    padding: 0;
}

form .configure_management .port_management .description{
    display: flex;
    align-items: flex-start;
}