form .wrapper-title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30%;
    height: 100px;
    
}

form .window-registration {
    margin: 0 30%;
    padding: 2% 5%;
    border: 4px solid  rgb(210, 142, 250);
    border-radius: 5px;
}

form .window-registration .wrapper-forms .input-group.mb-3{
    margin-bottom: 10px!important;
}

form .window-registration .wrapper-forms .input-group-text {
    width: 80px;
    background-color: rgb(139, 56, 187);
    color: #ffffff;
}

form .window-registration .bottom-element {
    display: block;
    align-items: center;
    justify-content: flex-start;
}

form .window-registration .bottom-element .account-exists {
    display: flex;
    justify-content: center;
}

form .window-registration .bottom-element .account-exists a {
    text-decoration: none;
    color: black;
}

form .window-registration .bottom-element .account-exists a:hover {
    color: rgb(139, 56, 187);
}

form .window-registration .bottom-element .wrapper-button {
    display: flex;
    justify-content: center;
}

form .window-registration .bottom-element .wrapper-button .btn-primary {
    margin-top: 10px;
    background-color: rgb(139, 56, 187);
    border-color:rgb(139, 56, 187);
} 
